@model IEnumerable<E_Tracker.Dto.RoleDto>

@{
    ViewData["Title"] = "Deactivated Role List";
    var url = this.Url.ActionContext.HttpContext.Request.Scheme;
    var url2 = $"{@Url.Action("RestoreRole", "Role", null, this.Url.ActionContext.HttpContext.Request.Scheme)}";
    var i = 1;
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List of Deactivated Roles</h6>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>
                                @i
                                @{i++;}
                            </td>
                            <td>@role.Name</td>
                            <td>
                                <a href="#" onClick="Restore('@role.Id', '@url2', '@role.Name' )"><i class="fa fa-trash-restore" data-toggle="tooltip" data-placement="top" title="Restore"></i></a>|
                                <a asp-controller="Permission" asp-action="RoleClaims" asp-route-roleId="@role.Id" class="btn btn-primary">Permissions</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
            function Restore(id, url, role) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You are about to restore " + role + " role!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, restore it!'
                }).then((result) => {
                    if (result.value) {

                        window.location.replace(url + "?roleName=" + role)
                    }
                })
            }
</script>
