@model E_Tracker.Dto.ChangePasswordDto


<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Change Password</h1>
                    </div>
                    <form class="user" asp-controller="User" asp-action="ChangePassword" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="CurrentPassword" type="password" class="form-control form-control-user" id="exampleInputPassword1" placeholder="Current Password">
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input asp-for="NewPassword" type="password" class="form-control form-control-user" id="exampleInputPassword2" placeholder="New Password">
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Confirm Password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row col-sm-12">
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Change Password
                                </button>
                            </div>
                            <div class="col-sm-4">
                                <button type="reset" class="btn btn-danger btn-user btn-block">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
